@media only screen and (max-width: 1600px) {
    .postInputTab .postCommentField .buttonMeta {
        display: block;
    }
}

@media only screen and (max-width: 1366px) {
    nav li {
        padding: 2px;
    }

    nav li a {
        font-size: 14px !important;
    }

    nav li a {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .formNavSearch {
        width: 400px;
        border: 1px solid #333333;
        border-radius: 50px;
        overflow: hidden;
        margin: auto;
    }

    .profile .dropdown {
        margin: 0 15px;
    }

    /* CONTENT AREA START */

    .post .postBody .postBodyProfileMedia {
        height: 450px;
    }

    .postInputTab .askField .profileImg {
        min-width: 100px;
        height: 100px;
        margin: 0 auto 15px auto;
    }

    .postInputTab .askField textarea {
        height: 45px;
    }

    .postInputTab .askField {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
        flex-direction: column;
    }

    .postInputTab .postCommentField .buttonMeta {
        display: block;
        align-items: center;
        margin: 15px 0;
        position: relative;
    }

    .postInputTab .postTitle {
        text-align: center;
    }

    .advertPlacement .advertImg {
        height: 220px;
        border-radius: 15px;
        overflow: hidden;
    }



}

@media only screen and (max-width: 1024px) {

    .navbar-brand {
        width: 150px;
        overflow: hidden;
    }

    .formNavSearch {
        width: 300px;
        border: 1px solid #333333;
        border-radius: 100px;
        overflow: hidden;
        margin: auto;
        /* display: none; */
    }

    .profile {
        margin-right: 10px;
    }

    .profile .dropdown {
        margin: 0 10px;
    }

    .profile span {
        font-size: 14px;
    }

    nav li {
        padding: 5px;
        position: relative;
        /* background: red; */
        margin: 0 5px;
        border-radius: 5px;
    }

    .navbar-nav .nav-item .nav-link span {
        display: none;
    }

    /* CONTENT AREA START */

    .postInputTab .askField .profileImg {
        display: none;
    }

    .postInputTab .askField textarea {
        height: 80px;
    }

    .postInputTab .postCommentField .buttonMeta {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        position: relative;
    }

    .advertPlacement {
        display: none;
    }

}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 560px) {}