@media only screen and (max-width: 1600px) {
    .postInputTab .postCommentField .buttonMeta {
        display: block;
    }
}

@media only screen and (max-width: 1366px) {
    nav li {
        padding: 2px;
    }

    nav li a {
        font-size: 14px !important;
    }

    nav li a {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .formNavSearch {
        width: 400px;
        border: 1px solid #333333;
        border-radius: 50px;
        overflow: hidden;
        margin: auto;
    }

    .profile .dropdown {
        margin: 0 15px;
    }

    /* CONTENT AREA START */

    .post .postBody .postBodyProfileMedia {
        height: 450px;
    }

    .postInputTab .askField .profileImg {
        min-width: 100px;
        height: 100px;
        margin: 0 auto 15px auto;
    }

    .postInputTab .askField textarea {
        height: 45px;
    }

    .postInputTab .askField {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
        flex-direction: column;
    }

    .postInputTab .postCommentField .buttonMeta {
        display: block;
        align-items: center;
        margin: 15px 0;
        position: relative;
    }

    .postInputTab .postTitle {
        text-align: center;
    }

    .advertPlacement .advertImg {
        height: 220px;
        border-radius: 15px;
        overflow: hidden;
    }



}

@media only screen and (max-width: 1024px) {

    .navbar-brand {
        width: 150px;
        overflow: hidden;
    }

    .formNavSearch {
        width: 300px;
        border: 1px solid #333333;
        border-radius: 100px;
        overflow: hidden;
        margin: auto;
        /* display: none; */
    }

    .profile {
        margin-right: 10px;
    }

    .profile .dropdown {
        margin: 0 10px;
    }

    .profile span {
        font-size: 14px;
    }

    nav li {
        padding: 5px;
        position: relative;
        /* background: red; */
        margin: 0 5px;
        border-radius: 5px;
    }

    .navbar-nav .nav-item .nav-link span {
        display: none;
    }

    /* CONTENT AREA START */

    .postInputTab .askField .profileImg {
        display: none;
    }

    .postInputTab .askField textarea {
        height: 80px;
    }

    .postInputTab .postCommentField .buttonMeta {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        position: relative;
    }

    .advertPlacement {
        display: none;
    }

}

@media only screen and (max-width: 991px) {
    .NewsFeed .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .dropdown-menu[data-bs-popper] {
        right: 0 !important;
        left: auto;
    }
}

@media only screen and (max-width: 560px) {

    .mDnone {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .NewsFeed .row .col-sm-12.col-md-12.col-lg-12.col-xl-4.g-5,
    .NewsFeed .row .col-sm-12.col-md-12.col-lg-12.col-xl-8.g-5 {
        padding-right: calc(var(--bs-gutter-x) * .2);
        padding-left: calc(var(--bs-gutter-x) * .2);
    }

    .post .postFooter .postMetaWrap .postMeta .metaText {
        margin-left: 0;
    }

    .post .postFooter .postMetaWrap .postMeta {
        justify-content: start;
    }

    .post .postFooter .postCommentWrap .commentSection .profileImg {
        width: 80px;
        height: 70px;
        margin-right: 15px;
    }

    .post .postFooter .postCommentWrap .postCommentSection {
        display: none;
    }

    .post .postBody .postBodyProfileMedia {
        height: 300px;
    }

    .post .postBodyProfileInfo .postBodyProfileName h5 {
        font-size: 20px;
    }

    .post .postBody .postBodyProfileDescr h3 {
        font-size: 22px;
    }

    .post .postBody .postBodyProfileDescr p {
        font-size: 16px;
    }

    .post .postBodyProfileInfo .profileImg {
        width: 60px;
        height: 60px;
    }

    .post .postBodyProfileInfo .postBodyProfileName h6 {
        font-size: 14px;
    }

    .postInputTab .askField textarea {
        height: 40px;
    }

}

@media only screen and (max-width: 414px) {

    .postInputTab .postCommentField .buttonMeta {
        display: block;
    }

    .post .upvotedProfiles .upvotedProfilesMsg {
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #939598;
        position: relative;
        left: -10px;
    }

    .post .postBodyProfileInfo .profileImg {
        width: 40px;
        height: 40px;
    }

    .post .postBodyProfileInfo .postBodyProfileName h5 {
        font-size: 16px;
    }

    .post .postBodyProfileInfo .postBodyProfileName h6 {
        font-size: 12px;
    }

    .post .postBody .postBodyProfileDescr h3 {
        font-size: 16px;
    }

    .post .postBody .postBodyProfileDescr p {
        font-size: 14px;
    }

    .post .postFooter .postCommentWrap .postMeta .metaText {
        font-size: 12px;
    }

    .post .postFooter .postCommentWrap .postMeta .metaText svg {
        width: 16px;
        height: 16px;
    }

    .post .postFooter .postMetaWrap .postMeta .metaText {
        font-size: 12px;
    }

    .post .postFooter .postMetaWrap .postMeta .metaText svg {
        width: 16px;
        height: 16px;
    }

    .post .postFooter .postCommentWrap .commentSection .profileImg {
        width: 50px;
        height: 40px;
        margin-right: 15px;
    }

    .post .postFooter .postCommentWrap .commentSection input {
        height: 40px;
        border-radius: 100px !important;
        width: 100%;
    }

    .post .postHeader {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .post .postBody .postBodyProfileMedia {
        height: 200px;
    }


    .postInputTab .postCommentField .buttonMeta .btn {
        width: 100%;
    }

}

@media only screen and (max-width: 375px) {

    .postInputTab .postCommentField .buttonMeta {
        text-align: center;
    }

    .post .postFooter .postCommentWrap .postMeta .metaText {
        --bs-btn-padding-x: 0.45rem !important;
    }

    .post .postBodyProfileInfo {
        display: flex;
        align-items: start;
        margin: 15px 0;
    }

    .post .postBodyProfileInfo .profileImg {
        width: 47px;
        height: 40px;
    }

    .post .postFooter {
        margin-top: 0;
    }

}